.navbar-inverse .navbar-nav > li > a {
	color: white;
	padding-left: 45px;
	padding-right: 45px;
}
.navbar-inverse {
	background-color: rgba(0,0,0,0.25);
}

.navbar-nav {
	margin-left: 230px;
}

.container{
	max-width: 1280px;
}

.content{
	color: white;
	text-align: center;
}

h1 {
	font-size: 144px;
	font-weight: 100;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.text-container{
	max-width: 940px;
	color: white;
	text-align: left;
	padding-top: 30px;
}

body {
	background-color: #5ADBD9;
	font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: rgba(0,0,0,0.25);
}

.navbar-inverse .navbar-nav > .active > a:hover {
	background-color: rgba(0,0,0,0.5);
}